* {
  margin: 0;
  padding: 0;
}

body {
  color: #FFA500;
  background-image: url("../assets/img_bike.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;    
}

/* Background of Login and Sign Up pages */
.bg1 {  
  background-color: #f99a00;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f99a00 40px ),
  repeating-linear-gradient( #00000055, #000000 );
}

/* Background of column containing table */
.bg3 {
  background: rgb(40,52,56);
  opacity: 0.7;  
}

/* Background for login and sign up forms */
.wrapper {
  background-color: #4d4c4f;
  opacity: 0.9;
  padding: 20px;  
}

.main {
  height: 90vh;
}

div.col-sm-8 {
  padding-left: 20px;
}

hr:not([size]) {
  height: 3px;
}

h1 {
  margin-bottom: 20px;  
  font-family: 'Black Ops One', cursive;
  font-size: 50px;
}

label {
  margin: 5px;
}

.btn-default {
  background-color: #000000;
  color: #FFA500;
  border-color: #FFA500;
}

.btn-default:hover, a:hover {
  color: #ffffff;
}

a.navbar-brand {
  color: #FFA500;
  padding-left: 20px;
}

a, .bi {
  color: #FFA500;
}

/* Navbar and tracker totals card for members page */
.navbar, .card {  
  background: rgb(40,52,56);
  background: linear-gradient(90deg, rgba(40,52,56,1) 0%, rgba(255,144,0,0.5021358885351015) 100%);
}

a.nav-link {
  color: rgb(40,52,56);
}

.card {  
  border-width: 1px;
  border-color: #FFA500;
}

.list-group-item {
  background: rgb(40,52,56);  
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  height: 73vh;
  overflow: auto;
}

table {
  width: 100%;
  table-layout: auto; 
}

th, td {
  text-align: center
}

#editBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Media Query to add top margin to table column */
@media only screen and (max-width: 575px) {
  .bg3 {
    margin-top: 60px;
  }
}




