* {
  margin: 0;
  padding: 0;
}

/* Main row of members page */
.main {
  height: 100vh;
}

/* Background of Login and Sign Up pages */
.bg1 {  
  background-color: #f99a00;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f99a00 40px ),
  repeating-linear-gradient( #00000055, #000000 );
}

/* Background of members page container */
.bg2 {
  background-image: url("../assets/img_bike.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Background of column containing table */
.bg3 {
  background: rgb(40,52,56);
  opacity: 0.7;
}

/* Background for login and sign up forms */
.wrapper {
  background-color: #4d4c4f;
  opacity: 0.9;
  padding: 20px;
  color: #ffa400;  
}

h2 {
  margin-bottom: 20px;
}

label {
  margin: 5px;
}

.btn-default {
  background-color: #000000;
  color: #ffa400;
  border-color: #ffa400;
}

.btn-default:hover {
  color: #ffffff;
}

a {
  color: #ff8c00;
}

a:hover {
  color: #ffffff;
}

/* Navbar for members page */
.navbar {
  border-width: 0;
  background: rgb(40,52,56);
  background: linear-gradient(90deg, rgba(40,52,56,1) 0%, rgba(255,144,0,0.5021358885351015) 100%);
}

table {
  width: 100%;
  color: white;  
}

td, .bi {
  color: white;
}

